
.header-area-3 .header__logo img,
.header-area-4 .header__logo img,
.header-area-13 .header__logo img {
  max-width: 168px;
}

.main-menu ul.dp-menu {
    background-color: #112;
}

.header-area-13 .main-menu li a {
    /* color: white; */
}


.about-section-12__desc,
.hero-section-12__title {
    color:#112;
}

.offset-logo {
  width: 145px;
}

.load-text span:nth-child(-n + 4) {
    /* color:#20208A */
    color:#559;
}
.load-text span:nth-child(n + 5) {
    color:#E68908
}

@media only screen and (max-width: 991px) {
   .header-area-13 .header__logo img {
        max-width: 128px;
    }
}

.hero-section-12 {
    background: url("../imgs/gtit/gears/bg-blue-gears.webp") no-repeat center center;
    background-size: cover;
    min-height: 100vh;
}

.about .page-title-area {
  background-image: url("../imgs/gtit/factory/facilities/factory-gtit-entrance.webp");
  background-size: cover;
  background-position: center 80%;
  padding-block: 5rem;
  border-radius: 8px;
  margin-bottom: 2rem;
  height: 750px;
}

.service-6__item::before {
  background-color: #20208A;
}

.about-us__inner .about-us__wrapper .about-us__box .media .title,
.about-us__inner .title {
  font-weight: 400;
}

@media only screen and (max-width: 1919px) {
  .section-spacing-top {
    padding-top: 90px;
  }
    .footer-widget-box .copyright-text {
    margin-top: 100px;
  }
}

@media only screen and (max-width: 1399px) {

}

@media only screen and (max-width: 1199px) {
  .hero-section-12 {
    min-height: 68vh;
  }
      .section-spacing-top {
    padding-top: 60px;
  }
  .about .page-title-area {
    height: 450px;
  }
}

@media only screen and (max-width: 991px) {
    .section-spacing-top {
    padding-top: 30px;
  }
}

@media only screen and (max-width: 767px) {
    .hero-section-12 {
        min-height: 58vh;
    }
    .section-spacing-top {
    padding-top: 10px;
  }
    .about .page-title-area {
    height: 350px;
  }
}

@media (max-width: 575px) {

}

.approach-area-service-details-page .approach-wrapper-content {
  margin-top: 70px;
}

.works-section-12 {
    padding-block: 5rem;
}


.rr-btn-primary,
.header-area-4 .rr-btn-primary,
.contact-area-contact-page .submit-btn .rr-btn-primary,
.header-area-13 .rr-btn-primary {
    background-color: #E68908;
}

.rr-btn-primary:hover {
    background-color: #E68908;
}

footer {
    border-bottom: 16px solid #E68908;
}


.about-us__inner .title {
  font-size: 2.2rem;
  line-height: 1.125;
}

.mfp-close::after {
  font-family: "Font Awesome Pro";
 content: "\f00d";
}

.service-6__wrapper {
  padding-bottom: 180px;
}

/*
.header-area-4__inner .header__logo img,
.header-area-13 .header__logo img,
.header-area-3 .header__logo img {
    height: 80px;
}
 */

/*
.header-area-13 .main-menu li a {
  color: var(--white);
} */
