
.header-area-3 .header__logo img,
.header-area-4 .header__logo img,
.header-area-13 .header__logo img {
  max-width: 168px;
}

.main-menu ul.dp-menu {
    background-color: #112;
}


.about-section-12__desc,
.hero-section-12__title {
    color:#112;
}

.offset-logo {
  width: 145px;
}

.load-text span:nth-child(-n + 4) {
    /* color:#20208A */
    color:#559;
}
.load-text span:nth-child(n + 5) {
    color:#E68908
}

@media only screen and (max-width: 991px) {
   .header-area-13 .header__logo img {
        max-width: 128px;
    }
}

.hero-section-12 {
    background: url("../imgs/gtit/gears/bg-blue-gears.webp") no-repeat center center;
    background-size: cover;
    min-height: 100vh;
}


@media only screen and (max-width: 1919px) {
  .section-spacing-top {
    padding-top: 90px;
  }
}

@media only screen and (max-width: 1199px) {
  .hero-section-12 {
    min-height: 68vh;
  }
      .section-spacing-top {
    padding-top: 60px;
  }
}

@media only screen and (max-width: 991px) {
    .section-spacing-top {
    padding-top: 30px;
  }
}

@media only screen and (max-width: 767px) {
    .hero-section-12 {
        min-height: 58vh;
    }
    .section-spacing-top {
    padding-top: 10px;
  }
}

@media (max-width: 575px) {

}

.approach-area-service-details-page .approach-wrapper-content {
  margin-top: 70px;
}

.works-section-12 {
    padding-block: 5rem;
}


.rr-btn-primary,
.header-area-4 .rr-btn-primary,
.contact-area-contact-page .submit-btn .rr-btn-primary,
.header-area-13 .rr-btn-primary {
    background-color: #E68908;
}

.rr-btn-primary:hover {
    background-color: #E68908;
}

footer {
    border-bottom: 16px solid #E68908;
}
/*
.header-area-4__inner .header__logo img,
.header-area-13 .header__logo img,
.header-area-3 .header__logo img {
    height: 80px;
}
 */

/*
.header-area-13 .main-menu li a {
  color: var(--white);
} */